{% extends 'base.html.twig' %}

{% block title %}Editar Cotización{% endblock %}
{% block scripts %}
    <script>
        // funciones de la pagina de new_cotizaciones
        window.onload = function() {


            inventario={{ detallesCotizacion|json_encode|raw }};
            console.log ({{ detallesCotizacion|json_encode|raw }});

            // 2. Borramos lo que haya y guardamos el registro vacío por defecto
            localStorage.setItem('misDatos', JSON.stringify(inventario));

            // 3. Inicializamos nuestra variable global 'inventario' con este valor
            // Esto asegura que el resto de tus funciones (como addRow) trabajen sobre el arreglo limpio

            // 4. (Opcional) Si tienes una función para dibujar la tabla, llámala aquí
            if (typeof redrawTabla === "function") {
                redrawTabla(inventario);
            }

            console.log("LocalStorage reiniciado: 'misDatos' ha sido limpiado.");
        };    

        $(document).ready(function() {
            // Colapsar/Expandir Sidebar
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            
            // Hacer que los items del sidebar sean activos al hacer clic
            $('.sidebar-item').on('click', function() {
                $('.sidebar-item').removeClass('active');
                $(this).addClass('active');
            });

            document.getElementById('porDescuentoGeneral').value='{{ cotizacion.por_descuento|number_format(2, '.', '') }}';

            inventario={{ detallesCotizacion|json_encode|raw }};

            // 2. Borramos lo que haya y guardamos el registro vacío por defecto
            localStorage.setItem('misDatos', JSON.stringify(inventario));

            console.log("LocalStorage reiniciado: 'misDatos' ha sido limpiado.");

            console.log (inventario);
            redrawTabla(inventario);
        });         
    </script>
    <script src="../../assets/js/cotizacion/edit_cotizacion.js"></script>
{% endblock %}   
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button type="button" id="sidebarCollapse" class="btn btn-dark mr-2">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
           <img src="../../{{ logo }}" alt="Logo" style="height:45px !important">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog mr-1"></i> Configuración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i> Salir</a>
                </li>
            </ul>
        </div>
    </nav>    
    <!-- Sidebar -->
    {% include 'navigation_admin.html.twig' %}
    <!-- Contenido Principal -->
    <div id="content">
        <div class="row" style="padding-top:50px !important">
            <div class="col-11 col-md-11 col-lg-11 mx-auto mt-0 mt-md-auto mb-0 mb-md-auto">
                <div class='text-right'>
                    <a href="{{ path('app_cotizacion_index') }}" title="Regresar al Listado"><i class="fa-solid fa-list"></i></a>
                </div>
                <div class='card'>
                    <div class='card-header'>
                        <h2>Editar la Cotización</h2>
                    </div>
                    <div class='card-body'>
                        <div class='form-group'>
                            <label for='cliente'>Cliente</label>
                            <select class='form-control' id='cliente' name='cliente' required>
                                {% for cliente in clientes %}
                                    {% if (cliente.id == clienteCotizacion.id ) %}
                                        <option value='{{ cliente.id }}' selected>{{ cliente.nombre|trim }}</option>  
                                    {% else %}
                                        <option value='{{ cliente.id }}'>{{ cliente.nombre|trim }}</option>  
                                    {% endif %}
                                {% else %}
                                    <option value='-99'>No se han encotrado clienets activos en el sistema</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class='text-center'>
                            <label >Tazas BCV</label>
                            <table class="table table-bordered">
                                <thead class='text-center bg-info'>
                                    <tr>
                                        <th>Euro</th>
                                        <th>Usd</th>
                                        <th>Fecha Consulta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class='text-right'>{{ tasas.EUR|number_format(2, '.', '') }}</td>
                                        <td class='text-right'>{{ tasas.USD|number_format(2, '.', '') }}</td>
                                        <td class='text-center'>{{ tasas.fecha }}</td>
                                    </tr>                                    
                                </tbody>
                            </table>
                            <input type='hidden' id='tasaEUR' value='{{ tasas.EUR }}' style='display:none !important' >
                            <input type='hidden' id='tasaUSD' value='{{ tasas.USD }}' style='display:none !important'>
                            <input type='hidden' id='porDescuentoGeneral' value='{{ cotizacion.por_descuento|number_format(2, '.', '') }}' style='display:none !important'>
                            <input type='hidden' id='idCotizacion' value='{{ cotizacion.id }}' style='display:none !important'>
                            </div>
                        <div class='text-right'>
                            <a href='javascript:addRow()' title='Anexar un item a la cotización' ><i class="fa-solid fa-square-plus"></i></a>
                            <a href='javascript:deleteRow()' title='Eliminar el item actual de la cotización' ><i class="fa-solid fa-square-minus"></i></a>
                        </div>                               
                        <div class='text-center'>
                            <table class='table table-bordered table stripped'>
                                <thead class='bg-dark text-center text-white tr-planificacion-head '>
                                    <tr>
                                        <th>Item</th>
                                        <th>Codigo</th>
                                        <th>Descripción</th>
                                        <th>Cantidad</th>
                                        <th>Costo</th>
                                        <th>Precio</th>
                                        <th>Porcentaje Ganancia</th>
                                        <th>Porcentaje Descuento</th>
                                        <th>Monto Descuento</th>
                                        <th>SubTotal</th>
                                    </tr>
                                </thead>
                                <tbody id='detallesCotizacion'>

                                </tbody>
                            </table>
                        </div>
                        <div class='form-group'>
                            <label for='observacion'>Observacion</label>
                            <textarea class='form-control' id='observacion' name='observacion' ></textarea>
                        </div>                          
                        <div class='text-right btn-sm'>
                            <input type='hidden' id='selectedObject' style='display:none !important'>
                            <button class='btn btn-primary' onclick='javascript:saveCotizacion()'>Guardar Cotizacion</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
{% block modales %}
    <!-- cuadro modal  de anuncios -->
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true" style='z-index:10001'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Título del Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" onclick="javascript:cierraModal()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Aquí va el contenido de tu modal. Puedes incluir texto, imágenes, formularios, ¡lo que necesites!
                </div>
            </div>
        </div>
    </div>   
    
    <div class="modal fade" id="miModalDetallesItem" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true" style='z-index:10000'>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Título del Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" onclick="javascript:cierraModal()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div form-group>
                        <label for='idMaterial'>Material</label>
                        <select id='idMaterial' class='form-control' style='width:90% !important' onchange="javascript:changeMaterial()">
                            <option value='-99'>Seleccione</option>
                            {% for material in materiales %}
                                <option value='{{ material.id }}'>{{ material.codigo|trim ~ " | "~ material.nombre|trim }}</option>
                            {% else %}
                                <option value='-99'>No hay materiales en el sistema</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div form-group>
                        <label for='cantidadMaterial'>Cantidad Material Requerida</label>
                        <div style="display: flex; align-items: center; gap: 10px;">
                            <input type="text" id='cantidadMaterial' class='form-control' style='text-align:right !important; width:50% !important' onchange="javascript:changeCantidadMaterial()">
                            <label id='nombreUnidad' style="margin-bottom: 0;">&nbsp;</label>
                        </div>
                    </div> 
                    <div form-group>
                        <label for='costoMaterial'>Costo</label>
                        <input type="text" id='costoMaterial' class='form-control' style='text-align:right !important; width:95% !important' disabled>
                    </div> 
                    <div form-group>
                        <label for='precioMaterial'>Precio</label>
                        <input type="text"  id='precioMaterial' class='form-control' style='text-align:right !important; width:95% !important' disabled >
                    </div>      
                    <div form-group>
                        <label for='porcentajeMaterial'>Porcentaje Ganancia</label>
                        <input type="text"  id='porcentajeMaterial' class='form-control' style='text-align:right !important; width:95% !important' onchange="javascript:changePorcentaje()">
                    </div> 
                    <div form-group>
                        <label for='porcentajeDescuentoMaterial'>Porcentaje Descuento</label>
                        <input type="text"  id='porcentajeDescuentoMaterial' class='form-control' style='text-align:right !important; width:95% !important' onchange="javascript:changePorcentajeDescuento()" value='0.00'>
                    </div>   
                    <div form-group>
                        <label for='montoDescuentoMaterial'>Monto Descuento</label>
                        <input type="text"  id='montoDescuentoMaterial' class='form-control' style='text-align:right !important; width:95% !important' disabled value='0.00'>
                    </div> 
                    <div form-group>
                        <label for='totalMaterial'>Total</label>
                        <input type="text"  id='totalMaterial' class='form-control' style='text-align:right !important; width:95% !important' disabled value='0.00'>
                    </div>                                                          
                    <div class='text-right'>
                        <input type='hidden' id='renglonMaterial' styke='visibility:hidden !important'>
                        <input type='button' class='btn btn-primary' value='Procesar' onclick="javascript:procesarItem()">
                    </div>                                                                                    
                </div>
            </div>
        </div>
    </div>      
{% endblock %}