{% extends 'base.html.twig' %}

{% block title %}Cotizaciones en el Sistema{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button type="button" id="sidebarCollapse" class="btn btn-dark mr-2">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
           <img src="{{ logo }}" alt="Logo" style="height:45px !important">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog mr-1"></i> Configuración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i> Salir</a>
                </li>
            </ul>
        </div>
    </nav>    
    <!-- Sidebar -->
    {% include 'navigation_admin.html.twig' %}
    <!-- Contenido Principal -->
    <div id="content">
        <div class='container-fluid'>
            <div class='row' style="margin:auto !important; padding-top:50px !important">
                <div class='col-12 col-md-12 col-lg-12 text-center'>
                    <h2>Cotizaciones en el Sistema</h2>
                </div>
            </div>
            <div class="container mt-3">
                {# 'app.flashes' devuelve un array de arrays #}
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>            
            <div class="row"  style="margin:auto !important;">
                <div class="col-12 col-md-12 col-lg-12 text-right">
                    <a href="{{ path('app_cotizacion_new2') }}" title='Nueva Cotización'><i class="fa-regular fa-square-plus"></i></a>
                </div>
            </div>
            <div class="row"  style="margin:auto !important;">
                <div class="col-12 col-md-12 col-lg-12 text-center" >
                    <table class="table table-bordered table-striped table-hover" >
                        <thead class="thead-dark text-white">
                            <tr class='tr-planificacion-head text-center'>
                                <th class='text-center'>Id</th>
                                <th class='text-center'>Cliente</th>
                                <th class='text-center d-none d-md-table-cell'>Fecha Creacion</th>
                                <th class='text-center d-none d-md-table-cell'>Fecha Actualizacion</th>
                                <th class='text-center d-none d-md-table-cell'>Fecha Aprobacion</th>
                                <th class='text-center'>Estado</th>
                                <th class='text-center d-none d-md-table-cell'>Monto Materiales</th>
                                <th class='text-center d-none d-md-table-cell'>% Descuento</th>
                                <th class='text-center d-none d-md-table-cell'>Monto Descuento</th>
                                <th class='text-center'>Total</th>
                                <th class='text-center'>Acciones</th>
                            </tr>
                        </thead>      
                        <tbody>
                            {% set i = 1 %}
                            {% for cotizacion in cotizacions %}
                                <tr class='tr-planificacion-h'>
                                    <td class='text-center'>{{ i }}</td>
                                    <td class='text-left'>{{ cotizacion.cliente.nombre }}</td>
                                    <td class='text-center d-none d-md-table-cell'>{{ cotizacion.fechaCreacion ? cotizacion.fechaCreacion|date('d/m/Y') : '' }}</td>
                                    <td class='text-center d-none d-md-table-cell'>
                                        {% if (cotizacion.fechaActualizacion|date('Y-m-d') != '1990-01-01') %}
                                            {{ cotizacion.fechaActualizacion ? cotizacion.fechaActualizacion|date('Y-m-d') : '' }}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}
                                    </td>
                                    <td class='text-center d-none d-md-table-cell'>
                                        {% if (cotizacion.fechaAprobacion|date('Y-m-d') != '1990-01-01') %}
                                            {{ cotizacion.fechaAprobacion ? cotizacion.fechaAprobacion|date('d/m/Y') : '' }}
                                        {% else %}
                                            &nbsp;
                                        {% endif %}                                        
                                    </td>
                                    <td class='text-center'>
                                        {% if (cotizacion.estado == 1) %}
                                            <span class='text-info'>En espera de Aprobacion</span>
                                        {% elseif (cotizacion.estado == 2) %}
                                            <span class='text-success'>Aprobado</span>
                                        {% elseif (cotizacion.estado == 3) %}
                                            <span class='text-info'>En proceso</span>                                            
                                        {% elseif (cotizacion.estado == 4) %}
                                            <span class='text-info'>Procesado</span>
                                        {% else %}
                                            <span class='text-danger'>Cancelado</span>
                                        {% endif %}                                            
                                    </td>
                                    <td class='text-right d-none d-md-table-cell'>{{ cotizacion.monto|number_format(2,".","")}}</td>
                                    <td class='text-right d-none d-md-table-cell'>{{ cotizacion.porDescuento|number_format(2,".","") }}</td>
                                    <td class='text-right d-none d-md-table-cell'>{{ cotizacion.montoDescuento|number_format(2,".","") }}</td>
                                    <td class='text-right d-none d-md-table-cell'>{{ cotizacion.precio|number_format(2,".","") }}</td>
                                    <td class='text-center'>
                                        <a href="{{ path('app_cotizacion_show', {'id': cotizacion.id}) }}" title='Ver detalles de la cotización'><i class="fa-solid fa-eye"></i></a>
                                        <a href="{{ path('app_cotizacion_edit', {'id': cotizacion.id}) }}" title='Editar la cotización'><i class="fa-regular fa-pen-to-square"></i></a>
                                    </td>
                                </tr>
                                {% set i = i + 1 %}
                            {% else %}
                                <tr>
                                    <td colspan="11" class='text-danger'>No se encontraron cotizaciones en el sistema</td>
                                </tr>
                            {% endfor %}
                        </tbody>                                          
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            // Colapsar/Expandir Sidebar
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            
            // Hacer que los items del sidebar sean activos al hacer clic
            $('.sidebar-item').on('click', function() {
                $('.sidebar-item').removeClass('active');
                $(this).addClass('active');
            });
        }); 

        function importarClientes() {
            $('#miModalUploadClient').modal('show');
        }
    </script>
{% endblock %}
{% block modales %}
    <!-- cuadro modal  de anuncios -->
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Título del Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" onclick="javascript:cierraModal()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Aquí va el contenido de tu modal. Puedes incluir texto, imágenes, formularios, ¡lo que necesites!
                </div>
            </div>
        </div>
    </div>

{% endblock %}

