{% extends 'base.html.twig' %}

{% block title %}MyGraph{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button type="button" id="sidebarCollapse" class="btn btn-dark mr-2">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
           <img src="{{ logo }}" alt="Logo" style="height:45px !important">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog mr-1"></i> Configuración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i> Salir</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Sidebar -->
     {% include 'navigation_admin.html.twig' %}
    <!-- Contenido Principal -->
    <div id="content">
        <div class='row' style="padding-top:50px !important">
            <div class='col-12 col-md-12 col-lg-12'>
                <div class="container-fluid p-4">
                    <h2>Bienvenido al Sistema</h2>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-11 col-md-6 col-lg-6 mx-auto mt-0 mt-md-auto mb-0 mb-md-auto">
                <table class="table table-bordered table-striped table-hover" style="width: 85% !important;">
                    <thead class="thead-dark text-white">
                        <tr class='tr-planificacion-head text-center'>
                            <th scope="col">Mes</th>
                            <th scope="col" class="d-none d-md-table-cell">Cotizaciones</th>
                            <th scope="col" class="d-none d-md-table-cell">Órdenes</th>
                            <th scope="col">En Producción</th>
                            <th scope="col">Terminados</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for resumen in resumenProduccion %}
                        <tr class='tr-planificacion-h'>
                            <td >{{ resumen.mes }}</td>
                            <td class='text-center d-none d-md-table-cell'>{{ resumen.cotizaciones }}</td>
                            <td class='text-center d-none d-md-table-cell' >{{ resumen.ordenes }}</td>
                            <td class='text-center'>{{ resumen.enproduccion }}</td>
                            <td class='text-center'>{{ resumen.terminados }}</td>
                        </tr>
                    {% else %}
                    <tr>
                        <td colspan="4">No hay datos disponibles</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function() {
            // Colapsar/Expandir Sidebar
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            
            // Hacer que los items del sidebar sean activos al hacer clic
            $('.sidebar-item').on('click', function() {
                $('.sidebar-item').removeClass('active');
                $(this).addClass('active');
            });
        }); 
    </script>
{% endblock %}