{% extends 'base.html.twig' %}

{% block title %}Movimeinto de Inventario{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button type="button" id="sidebarCollapse" class="btn btn-dark mr-2">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
           <img src="{{ logo }}" alt="Logo" style="height:45px !important">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog mr-1"></i> Configuraci贸n</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i> Salir</a>
                </li>
            </ul>
        </div>
    </nav>    
    <!-- Sidebar -->
    {% include 'navigation_admin.html.twig' %}
    <!-- Contenido Principal -->
    <div id="content">
        <div class="row" style="padding-top:50px !important">
            <div class="col-11 col-md-5 col-lg-5 mx-auto mt-0 mt-md-auto mb-0 mb-md-auto">
                <div class='text-right'>
                    <a href="{{ path('app_movimiento_index') }}" title="Regresar al Listado"><i class="fa-solid fa-list"></i></a>
                </div>
                <div class='card'>
                    <div class='card-header'>
                        <h2>Movimeinto de Inventario</h2>
                        <div class='text-right btn-sm'>
                            <button class='btn btn-info' onclick='javascript:verProyectos()'>Ver Proyectos</button>
                        </div>
                    </div>
                    <div class='card-body'>
                        <div class='form-group'>
                            <label for='tipo'>Tipo de operaci贸n</label>
                            <select class='form-control' id='tipo' name='tipo' required>
                                <option value='1'>Anexar a la existencia</option>
                                <option value='2'>Rebajar a la existencia</option>
                            </select>
                        </div>
                        <div class='form-group'>
                            <label for='cantidad'>Cantidad de Material</label>
                            <input class='form-control' type="number" id='cantidad' name='cantidad' step="0.01" min="0" placeholder="0.00" title='Cantidad de material a anexar o retirar del inventario' style='text-align:right !important'>
                        </div>     
                        <div class='form-group'>
                            <label for='idProyecto'>Proyecto involucrado</label>
                            <input class='form-control' type="text" id='idProyecto' name='idProyecto'  title='Proyecto en el cual se involucr贸 el material'>
                        </div>   
                        <div class='form-group'>
                            <label for='documento'>Documento</label>
                            <input class='form-control' type="text" id='documento' name='documento'  title='Factura o documento que representa la adquisici贸n del material'>
                        </div>       
                        <div class='form-group'>
                            <label for='idMaterial'>Material</label>
                            <select class='form-control' id='idMaterial' name='idMaterial' required>
                                {% for material in materiales %}     
                                    <option value='{{ material.id }}'>{{ material.nombre }}</option>                             
                                {% else %}
                                    <option value='-99'>No hay materiales activos en la Base de Datos</option>
                                {% endfor %}
                            </select>                            
                        </div>                                                                                         

                        {{ include('movimiento/_form.html.twig') }}
                        <div class='text-right btn-sm'>
                            <button class='btn btn-info' onclick='javascript:verProyectos()'>Ver Proyectos</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function() {
            // Colapsar/Expandir Sidebar
            $('#sidebarCollapse').on('click', function() {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('active');
            });
            
            // Hacer que los items del sidebar sean activos al hacer clic
            $('.sidebar-item').on('click', function() {
                $('.sidebar-item').removeClass('active');
                $(this).addClass('active');
            });
        }); 

        function verProyectos(){
            alert ("Ver proyectos")
        }
    </script>
{% endblock %}