{% extends 'base.html.twig' %}

{% block title %}Movimiento de Inventario{% endblock %}
{% block scripts %}
     <script src="../../assets/js/new_movimiento/new_movimiento.js"></script>
{% endblock %}  
{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <button type="button" id="sidebarCollapse" class="btn btn-dark mr-2">
            <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand" href="#">
           <img src="{{ logo }}" alt="Logo" style="height:45px !important">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-cog mr-1"></i> Configuración</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt mr-1"></i> Salir</a>
                </li>
            </ul>
        </div>
    </nav>    
    <!-- Sidebar -->
    {% include 'navigation_admin.html.twig' %}
    <!-- Contenido Principal -->
    <div id="content">
        <div class="row" style="padding-top:50px !important">
            <div class="col-11 col-md-5 col-lg-5 mx-auto mt-0 mt-md-auto mb-0 mb-md-auto">
                <div class='text-right'>
                    <a href="{{ path('app_movimiento_index') }}" title="Regresar al Listado"><i class="fa-solid fa-list"></i></a>
                </div>
                <div class='card'>
                    <div class='card-header'>
                        <h2>Movimiento de Inventario</h2>
                    </div>
                    <div class='card-body'>
                        <div class='form-group'>
                            <label for='tipo'>Tipo de operación</label>
                            <select class='form-control' id='tipo' name='tipo' required>
                                <option value='1'>Anexar a la existencia</option>
                                <option value='2'>Rebajar a la existencia</option>
                            </select>
                        </div>
                        <div class='form-group'>
                            <label for='cantidad'>Cantidad de Material</label>
                            <input class='form-control' type="number" id='cantidad' name='cantidad' step="0.01" min="0" placeholder="0.00" title='Cantidad de material a anexar o retirar del inventario' style='text-align:right !important'>
                        </div>     
                        <div class='form-group'>
                            <label for='idProyecto'>Proyecto involucrado</label>
                            <div class="input-group">
                                <input class='form-control' type="text" id='idProyecto' name='idProyecto' title='Proyecto en el cual se involucró el material'>
                                <div class="input-group-append">
                                    <button id='b1' name='b1' class='btn btn-primary' onclick="javascript:searchProyect()">Buscar Proyectos</button>
                                </div>
                            </div>
                        </div>
                        <div class='form-group'>
                            <label for='documento'>Documento</label>
                            <input class='form-control' type="text" id='documento' name='documento'  title='Factura o documento que representa la adquisición del material'>
                        </div>       
                        <div class='form-group'>
                            <label for='idMaterial'>Material</label>
                            <select class='form-control' id='idMaterial' name='idMaterial' required onchange="javascript:changeMaterial()">
                                {% for material in materiales %}     
                                    <option value='{{ material.id }}'>{{ material.nombre }}</option>                             
                                {% else %}
                                    <option value='-99'>No hay materiales activos en la Base de Datos</option>
                                {% endfor %}
                            </select>                            
                        </div>                                                                                         
                        <div class='form-group'>
                            <label for='tipo'>Unidad involucrada</label>
                            <select class='form-control' id='tipo' name='tipo' disabled>
                                {% for unidad in unidades %}     
                                    <option value='{{ unidad.id }}'>{{ unidad.nombre }}</option>                             
                                {% else %}
                                    <option value='-99'>No hay unidades en el sistema</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class='form-group'>
                            <label for='observacion'>Observacion</label>
                            <textarea class='form-control' id='observacion' name='observacion'></textarea>
                        </div>                        
                        <div class='text-right btn-sm'>
                            <button class='btn btn-primary' onclick='javascript:saveMovimiento()'>Guardar Movimiento</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
{% block modales %}
    <!-- cuadro modal  de anuncios -->
    <div class="modal fade" id="miModal" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Título del Modal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" onclick="javascript:cierraModal()">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Aquí va el contenido de tu modal. Puedes incluir texto, imágenes, formularios, ¡lo que necesites!
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="miModalProyectos" tabindex="-1" role="dialog" aria-labelledby="miModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="miModalLabel">Proyectos en el sistema</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar" onclick="javascript:cierraModal2()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class='form-group'>
                        <label for='selectProyectos'>Proyectos en el Sistema</label>
                        <select class='form-control ' id='selectProyectos' name='selectProyectos' style='width:85% !important'>
                            {% for proyecto in proyectos %}
                                <option vlaue='{{ proyecto.id }}'>{{ proyectoi.nombre | trim }}</option>
                            {% else %}
                                <option value='-99' style='color:#ff0000 !important'>No hay proyectos definidos en el sistema</option>
                            {% endfor %}   
                        </select>
                    </div>
                    <div class='text-right'>
                        <button class='btn btn-primary' onclick="javascript:changeProyect()">Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>    
{% endblock %}